include modules/header
include modules/navbar

.container
  p To add todo into the list fill in the form below, select priority of the task and press ENTER or Add button.
  .row
    .col-8
      form(class="input-group mb-3")
        input(type="text" class="form-control" placeholder="add Todo" autofocus)
        label(for='priority' class='mx-2') Choose priority:  
        select(id='priority' name='priority') Choose
          option(value='1') High
          option(value='2') Moderate
          option(value='3') Low
        button(class="btn btn-outline-secondary" type="submit" id="button-addon") Add
      
  div(id='showNotDone')
  div(id='showDone')
  
  button(class="btn btn-danger me-2" id='clearAll') Clear all todos
  button(class="btn btn-warning mx-2" id='clearDone') Clear all finished todos

  form(class='my-5', id='form-archiv')
    div
      label(for="from") Show archiv todos from
      input(type="date" id="from" name="from" value='2021-01-01')
      label(for="to") to
      input(type="date" id="to" name="to" value='2021-12-31')
      button(class="btn btn-secondary ms-2" type='submit' id='button-archiv') Show archived todos

  div(id='archiv')

include modules/footer